<li>
	<h2>
		<%= link_to(enabling_legislation.label, enabling_legislation_show_url(enabling_legislation: enabling_legislation.display_id)) %>
	</h2>
	<%= enabling_legislation_description_with_markup( enabling_legislation ) %>
</li>