<div class="reading-width">
	<%= content_tag( 'p', 'Legislation delegating powers, enabling one or more instruments subject to parliamentary procedure.' ) %>
</div>

<%= render :partial => 'enabling_legislation_ato_z/nav', :object => @letters %>