<%= content_tag( 'p', @step_type.description ) if @step_type.description %>

<div id="steps">
	<ol>
		<%= render :partial => 'step/step', :collection => @step_type_steps %>
	</ol>
</div>

<%= render :partial => 'common/identifier', :object => @step_type %>
