<p class="subnav">
	<%= link_to( 'Overview', step_show_url, :class => 'overview' ) %>
	<%# Only show link to work packageable things for business steps. %>
	<%= link_to( 'Work packageable things', step_work_packageable_thing_list_url, :class => 'work-packageable-things' ) if nav.step_type_id == 'Jwc6nqJi' %>
</p>