<p class="subnav">
	<%= link_to( 'Overview', step_show_url, :class => 'overview' ) %>
	<% if nav.step_type_id == 'Jwc6nqJi' -%>
		<%= link_to( 'Events', step_event_list_url, :class => 'events' ) %>
		<%= link_to( 'Step collections', step_step_collection_list_url, :class => 'step-collections' ) %>
	<% end -%>
</p>