<%= render 'layouts/search/form', path: step_list_search_path %>

<div class="reading-width">
	<%= list_item_count_sentence( 'step', @steps.size ) %>
	<ol class="unnumbered link-list">
		<%= render :partial => 'step', :collection => @steps %>
	</ol>
</div>