<div class="reading-width">
	<%= content_tag( 'p', 'An organisation accountable to Parliament may be a Government department, a Government organisation, or a non-governmental organisation with a duty to lay papers.' ) %>
</div>

<%= render :partial => 'current_nav' %>
