<p class="subnav">
	<%= link_to( 'Work packages before Parliament', organisation_accountable_to_parliament_show_url, :class => 'work-packages-current' ) %>
	<%= link_to( 'All work packages', organisation_accountable_to_parliament_work_package_list_url, :class => 'work-packages' ) %>
	<%= link_to( 'Treaties', organisation_accountable_to_parliament_treaty_list_url, :class => 'treaties' ) %>
</p>