<li>
	<%= content_tag( 'h2', link_to( organisation_accountable_to_parliament.label, organisation_accountable_to_parliament_show_url( :organisation_accountable_to_parliament => organisation_accountable_to_parliament.id ) ) ) %>
</li>