<%= render 'layouts/search/form', path: enabling_legislation_list_search_path %>

<%= render :partial => 'enabling_legislation/list_intro' %>

<div class="reading-width">

	<%= list_item_count_sentence( 'enabling legislation item', @enabling_legislations.size ) %>

	<ol class="unnumbered">
		<%= render :partial => 'enabling_legislation/enabling_legislation', :collection => @enabling_legislations %>
	</ol>
</div>