<p class="subnav">
	<%= link_to( 'Work packageable things before Parliament', work_packageable_thing_current_list_url, :class => 'current' ) %>
	<%= link_to( 'All work packageable things', work_packageable_thing_list_url, :class => 'all' ) %>
</p>