<%= render :partial => 'procedure/intro', :object => @procedure %>

<div class="reading-width">

	<%= list_item_count_sentence( 'clock', @procedure_clocks.size ) %>

	<% unless @procedure_clocks.empty? -%>
		<ol class="unnumbered">
			<%= render :partial => 'clock', :collection => @procedure_clocks %>
		</ol>
	<% end -%>

	<%= render :partial => 'common/identifier', :object => @procedure %>
</div>