<p>Drag the 'Enabled instruments before Parliament' link to your bookmarks bar.</p>

<p><%= link_to "Enabled instruments before Parliament", bookmarklet_href %></p>

<p>Navigate to any page under a UK Public General Act on <%= link_to "legislation.gov.uk", "https://www.legislation.gov.uk/" %>, click the bookmarklet in your bookmarks bar and you'll be taken to list of instruments enabled by that Act currently before Parliament.</p>
