<p>Drag the 'Enabled instruments before Parliament' link to your bookmarks bar.</p>

<p><a href="javascript:(function()%7Bif%20(window.location.origin%20%3D%3D%20'https%3A%2F%2Fwww.legislation.gov.uk'%20)%20%7B%0Awindow.location.href%20%3D'https%3A%2F%2Fapi.parliament.uk%2Fprocedure-browser%2Flookup%3Flegislation-gov-uk-uri%3D'%20%2B%20window.location%3B%20%7D%0A%0Aelse%20%7Balert('Sorry.%20This%20URL%20is%20not%20flippable.')%7D%3B%7D)()">Enabled instruments before Parliament</a>

<%= content_tag( 'p', "Navigate to any page under a UK Public General Act on #{link_to( 'legislation.gov.uk', 'https://www.legislation.gov.uk/' )}, click the bookmarklet in your bookmarks bar and you'll be taken to list of instruments enabled by that Act currently before Parliament.".html_safe ) %>