<%= render :partial => 'procedure/intro', :object => @procedure %>

<div class="reading-width">

	<%= list_item_count_sentence( 'step type', @procedure_step_types.size ) %>

	<ol class="unnumbered link-list">
		<%= render :partial => 'procedure_step_type', :collection => @procedure_step_types %>
	</ol>

	<%= render :partial => 'common/identifier', :object => @procedure %>
</div>