<li>
	<%= content_tag( 'h2', link_to( step_work_packageable_thing_label( work_packageable_thing ), work_packageable_thing_show_url( :work_packageable_thing => work_packageable_thing.id ) ) ) %>
	<%= content_tag( 'p', step_work_packageable_thing_description( work_packageable_thing ) ) %>
</li>





