<%= render :partial => 'step/intro', :object => @step %>

<div class="reading-width">

	<%= list_item_count_sentence( 'procedure', @step_procedures.size ) %>

	<% unless @step_procedures.empty? -%>
		<ol class="unnumbered">
			<%= render :partial => 'procedure/procedure', :collection => @step_procedures %>
		</ol>
	<% end -%>

	<%= render :partial => 'common/identifier', :object => @step %>
</div>