<p class="subnav">
	<%= link_to( 'Work packages', calculation_style_show_url, :class => 'work-packages' ) %>
	<%= link_to( 'Procedures', calculation_style_procedure_list_url, :class => 'procedures' ) %>
</p>