<p class="subnav">
	<%= link_to( 'Work packages before Parliament', calculation_style_show_url, :class => 'work-packages-current' ) %>
	<%= link_to( 'All work packages', calculation_style_work_package_list_url, :class => 'work-packages' ) %>
	<%= link_to( 'Procedures', calculation_style_procedure_list_url, :class => 'procedures' ) %>
</p>