<% if page == 1 -%>
	<p>
		Work package things per page:
		<%= enabling_legislation_work_package_results_per_page_current_link( 20, results_per_page ) %>
		<%= enabling_legislation_work_package_results_per_page_current_link( 50, results_per_page ) %>
		<%= enabling_legislation_work_package_results_per_page_current_link( 100, results_per_page ) %>
	</p>
<% end -%>