<p class="subnav">
	<%= link_to( 'Work packages before Parliament', work_package_current_list_url, :class => 'current' ) %>
	<%= link_to( 'All work packages', work_package_list_url, :class => 'all' ) %>
</p>