<%= content_tag( 'p', "Read the at #{link_to( @business_item.link_domain, @business_item.link )}.".html_safe ) if @business_item.link %>

<div id="steps">
	<%= content_tag( 'h2', "#{@business_item_steps.size} #{"step".pluralize( @business_item_steps.size )} actualised" ) %>
	<ol>
		<%= render :partial => 'step/business_item_step', :collection => @business_item_steps %>
	</ol>
</div>

<%= render :partial => 'common/identifier', :object => @business_item %>