<nav id="header-nav">
	<%= link_to( 'Work packages', work_package_list_url, :class => 'work-packages' )  %>
	<%= link_to( 'Procedures', procedure_list_url, :class => 'procedures' )  %>
	<%= link_to( 'Steps', step_type_list_url, :class => 'steps' )  %>
	<%= link_to( 'Step collections', step_collection_list_url, :class => 'step-collections' )  %>
</nav>