<%= work_package_description_with_markup( @work_package ) %>

<%= list_item_count_sentence_with_actualisation( 'past business item', @business_item_count, 'step', @work_package_business_items.size ) %>

<% unless @work_package_past_business_items.empty? -%>
	<div id="business-items">
		<ol>
			<%= render :partial => 'work_package_business_item/date', :collection => @work_package_past_business_items %>
			</ol>
	</div>
<% end -%>

<%= render :partial => 'common/identifier', :object => @work_package %>