<p class="subnav uk-parliament-procedure-browser-librarian-only">
	<%= link_to( 'Main procedures', procedure_main_list_url, :class => 'main' ) %>
	<%= link_to( 'All procedures', procedure_list_url, :class => 'all' ) %>
</p>