<%= render :partial => 'main_nav' %>

<div class="reading-width">

	<%= list_item_count_sentence( 'procedure', @procedures.size ) %>
	<ol class="unnumbered">
		<%= render :partial => 'procedure', :collection => @procedures %>
	</ol>
</div>