/* This is just for app specific overrides and extras */

/* Styling for main navigation active states */
body.section-work-packageable-things nav#header-nav a.work-packageable-things,
body.section-enabling-legislation nav#header-nav a.enabling-legislation,
body.section-organisations-accountable-to-parliament nav#header-nav a.organisations-accountable-to-parliament,
body.section-work-packages nav#header-nav a.work-packages,
body.section-procedures nav#header-nav a.procedures,
body.section-calculation-styles nav#header-nav a.calculation-styles,
body.section-steps nav#header-nav a.steps,
body.section-step-types nav#header-nav a.steps,
body.section-step-collections nav#header-nav a.step-collections,
body.section-routes nav#header-nav a.routes,
body.section-clocks nav#header-nav a.clocks,
body.section-legislatures nav#header-nav a.legislatures,
body.section-houses nav#header-nav a.houses {
	border-bottom-color: #fff;
}


/* Styling for sub navigation active states */
body.subsection-overview .subnav a.overview,
body.subsection-business-items .subnav a.business-items,
body.subsection-routes .subnav a.routes,
body.subsection-route-checker .subnav a.route-checker,
body.subsection-clocks .subnav a.clocks,
body.subsection-step-collections .subnav a.step-collections,
body.subsection-procedures-with-step-depth .subnav a.procedures-with-step-depth,
body.subsection-procedures .subnav a.procedures,
body.subsection-step-types .subnav a.step-types,
body.subsection-steps .subnav a.steps,
body.subsection-work-packages .subnav a.work-packages,
body.subsection-steps-with-depths .subnav a.steps-with-depths,
body.subsection-calculation-styles .subnav a.calculation-styles,
body.subsection-preceding .subnav a.preceding,
body.subsection-following .subnav a.following,
body.subsection-enabling-legislation .subnav a.enabling-legislation,
body.subsection-treaties .subnav a.treaties,
body.subsection-all .subnav a.all,
body.subsection-current .subnav a.current,
body.subsection-main .subnav a.main,
body.subsection-work-packages-current .subnav a.work-packages-current,
body.subsection-work-packageable-things .subnav a.work-packageable-things,
body.subsection-treaty-work-packages .subnav a.treaty-work-packages,
body.subsection-treaty-work-packages-current .subnav a.treaty-work-packages-current,
body.subsection-notes .subnav a.notes,
body.subsection-all .subnav a.all,
body.subsection-a .subnav a.a,
body.subsection-b .subnav a.b,
body.subsection-c .subnav a.c,
body.subsection-d .subnav a.d,
body.subsection-e .subnav a.e,
body.subsection-f .subnav a.f,
body.subsection-g .subnav a.g,
body.subsection-h .subnav a.h,
body.subsection-i .subnav a.i,
body.subsection-j .subnav a.j,
body.subsection-k .subnav a.k,
body.subsection-l .subnav a.l,
body.subsection-m .subnav a.m,
body.subsection-n .subnav a.n,
body.subsection-o .subnav a.o,
body.subsection-p .subnav a.p,
body.subsection-q .subnav a.q,
body.subsection-r .subnav a.r,
body.subsection-s .subnav a.s,
body.subsection-t .subnav a.t,
body.subsection-u .subnav a.u,
body.subsection-v .subnav a.v,
body.subsection-w .subnav a.w,
body.subsection-x .subnav a.x,
body.subsection-y .subnav a.y,
body.subsection-z .subnav a.z,
body.subsection-primary-legislation .subnav a.primary-legislation,
body.subsection-secondary-legislation .subnav a.secondary-legislation,
body.subsection-treaty .subnav a.treaty {
	border-bottom-color: #006e45;
	color: #4d4d4d;
}


/* Styling for a business item on a work package timeline */
#business-items ol {
	padding: 0;
}
#business-items li {
	border: 1px, dotted #ccc;
	margin-bottom: 1em;
	padding: .5em;
}
#business-items li:last-child {
	margin-bottom: 0;
}
#business-items ol li li p {
	margin-bottom: .5em;
}
#business-items ol li li p:last-child {
	margin-bottom: 0;
}


/* Styling for read links */
.read-link {
	background-color: #ebe9e8;
	border: 1px, dotted #ccc;
	padding: .5em;
}


/* Styling for SPARQL textareas */
#sparql {
	margin-top: 1em;
}
#sparql textarea {
	height: 500px;
	width: 100%;
}


/* Styling for the librarian mode banner, where visible */
#mode {
	color: yellow;
	padding-left: .3em;
}


/* Styling to remove librarian only components from display for non-librarians */
body .uk-parliament-procedure-browser-librarian-only {
	display: none !important;
}
html body .uk-parliament-procedure-browser-librarian-only {
	display: none !important;
}