/* Shows the librarian mode banner. */
#mode {
	color: yellow;
	padding-left: .3em;
}

/* Dials down the noise for non-librarians */
/* Hides components marked as librarian-only */
body .uk-parliament-procedure-browser-librarian-only {
	display: none !important;
}

html body .uk-parliament-procedure-browser-librarian-only {
	display: none !important;
}

