<% if page == 1 -%>
	<p>
		Work packages per page:
		<%= step_collection_work_package_results_per_page_link( 20, results_per_page ) %>
		<%= step_collection_work_package_results_per_page_link( 50, results_per_page ) %>
		<%= step_collection_work_package_results_per_page_link( 100, results_per_page ) %>
	</p>
<% end -%>