<li>
	<%= content_tag( 'h2', link_to( event.work_packageable_thing_label, work_package_show_url( :work_package => event.work_package_id, :anchor => "event-#{event.id}" ) ) ) %>
	<%= content_tag( 'p', step_event_description( event ) ) %>
</li>





