<% if Rails.env.development? -%>
	<div class="debug">
		<p>Page title:</p>
		<p><%= sanitize( @page_title ) %></p>
		<p>Meta description:</p>
		<p><%= sanitize (@description ) %></p>
	</div>
<% end -%>